.team {
    text-align: center;
    padding-bottom: 80px;
}

.team-description {
    font-weight: 400;
    font-size: 15px;
    font-family: var(--roboto);
    line-height: 1.2;
    color: var(--text-color);
    margin-top: 45px;
    margin-bottom: 27px;
}

.team-list {
display: flex;
justify-content: space-between;
}

.team-list-item {
    width: 380px;
}

.team-item-photo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team-item-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    margin-bottom: 11px;
}

.team-item-position {
    font-family: var(--roboto);
    font-size: 15px;
    font-weight: 300;
    line-height: 1.172;
    color: var(--text-color);
    font-style: italic;
}

