.img {
    padding: 8px 12px;
    background-color: palevioletred;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}

.btn {
    padding: 8px 12px;
    background-color: palevioletred;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}