a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav {
    background-color: tomato;
}

.nav-list {
    padding: 0;
    margin: 0;
    height: 500px;
    display: flex;

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
    /* align-items: baseline; */
    
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
}

.nav-list-item {
    padding: 6px;
    background-color: #fff;
    /* width: 250px; */

    /* flex-grow: 0; */

    flex-basis: 250px;



}

.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}

.shrink1 {
    flex-shrink: 1;
}

.shrink2 {
    flex-shrink: 3;
}

.sidebar {
    flex-basis: 250px;
    background-color: tomato;
    /* max-width: 150px; */
}

.section {
    flex-grow: 1;
    background-color: aqua;
}

main {
    display: flex;
    height: 100vh;
}

.self {
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: center; */
    /* align-self: stretch; */
    /* align-self: baseline; */


}

.order1 {
    order: 1;
}


.order2 {
    order: 2;
}


.order3 {
    order: 3;
}